<app-base-header [title]="pageTitle" [isSave]=true [cssName]="'blue'">
</app-base-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <ion-item color="light">
      <ion-icon name="trending-up" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="Max (mmHg)"
        autofocus="true"
        inputmode="decimal"
        formControlName="value"
       >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="trending-down" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="Min (mmHg)"
        autofocus="true"
        inputmode="decimal"
        formControlName="value2"
      >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="pulse" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="{{'blood-pressure.hr' | translate}}"
        autofocus="true"
        inputmode="decimal"
        formControlName="value3"
      >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="calendar" slot="start" color="medium"></ion-icon>
      <ion-datetime
        (ionChange)="changeDate($event.detail.value)"
        displayFormat="DD/MM/YYYY"
        formControlName="date"
      ></ion-datetime>
    </ion-item>
    <ion-list>
    <ion-radio-group allow-empty-selection value="other" formControlName="value4">
      <ion-list-header>
        <ion-label>{{'blood-pressure.type.header' | translate}}</ion-label>
      </ion-list-header>
      <ion-item color="light">
        <ion-label class="rdo-label">{{'blood-pressure.type.none' | translate}}</ion-label>
        <ion-radio slot="start" value="other"></ion-radio>
      </ion-item>

      <ion-item color="light">
        <ion-label class="rdo-label">{{'blood-pressure.type.wakeup' | translate}}</ion-label>
        <ion-radio slot="start" color="secondary" value="wakeup"></ion-radio>
      </ion-item>

      <ion-item color="light">
        <ion-label class="rdo-label">{{'blood-pressure.type.after3h' | translate}}</ion-label>
        <ion-radio slot="start" color="warning" value="after3h"></ion-radio>
      </ion-item>

      <ion-item color="light">
        <ion-label class="rdo-label">{{'blood-pressure.type.after6h' | translate}}</ion-label>
        <ion-radio slot="start" color="danger" value="after6h"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

    <ion-button expand="full" type="submit" [disabled]="formGroup.invalid">
      {{'save' | translate}}
    </ion-button>
  </form>
</ion-content>
