<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bloodpressures"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | translate}}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="trending-up" slot="start" color="primary"></ion-icon>
      <ion-input
        class="text-input"
        type="number"
        placeholder="Max (mmHg)"
        autofocus="true"
        inputmode="decimal"
        formControlName="valueMax"
       >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="trending-down" slot="start" color="primary"></ion-icon>
      <ion-input
        type="number"
        placeholder="Min (mmHg)"
        autofocus="true"
        inputmode="decimal"
        formControlName="valueMin"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
      <ion-input
        type="number"
        placeholder="{{'blood-pressure.hr' | translate}}"
        autofocus="true"
        inputmode="decimal"
        formControlName="heartRate"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
      <ion-datetime
        (ionChange)="changeDate($event.detail.value)"
        displayFormat="DD/MM/YYYY"
        formControlName="date"
      ></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="formGroup.invalid">
      {{'save' | translate}}
    </ion-button>
  </form>
</ion-content>
