<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/glucoses"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | translate}}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <ion-item color="light">
      <ion-icon name="water" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="mg/dL"
        autofocus="true"
        inputmode="decimal"
        formControlName="value"
      >
      </ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-icon name="clock" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="Jejum aproximado em horas"
        autofocus="true"
        inputmode="decimal"
        formControlName="value2"
      >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="calendar" slot="start" color="medium"></ion-icon>
      <ion-datetime
        (ionChange)="changeDate($event.detail.value)"
        displayFormat="DD/MM/YYYY"
        formControlName="date"
      ></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="formGroup.invalid">
      {{'save' | translate}}
    </ion-button>
  </form>
</ion-content>
