<app-base-header [title]="'weight.title'" [isSave]=false [cssName]="'green'">
</app-base-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="lists$ | async as lists">
      <ion-item>
      <ion-label>{{ "date" | translate }}</ion-label>
      <ion-label>Kg</ion-label>
    </ion-item>
    <ng-container *ngIf="lists.length > 0; else noTasks">
      <app-base-item
        *ngFor="let list of lists"
        [item]="list"
        [values]="1"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-base-item>
    </ng-container>
    <ng-template #noTasks>
      <ion-item lines="none">{{ "no-list" | translate }}</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/weights/chart" routerDirection="forward">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/weights/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
