<app-base-header [title]="'blood-pressure.title'" [isSave]=false [cssName]="'blue'">
</app-base-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="lists$ | async as lists">
    <ion-item>
      <ion-label>{{ "date" | translate }}</ion-label>
      <ion-label>Max (mmHg)</ion-label>
      <ion-label>Min (mmHg)</ion-label>
      <ion-label>{{ "blood-pressure.hr" | translate }}</ion-label>
    </ion-item>
    <ng-container *ngIf="lists.length > 0; else noItems">
      <app-base-item
        *ngFor="let list of lists"
        [item]="list"
        [values]="3"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-base-item>
    </ng-container>
    <ng-template #noItems>
      <ion-item lines="none">{{ "no-list" | translate }}</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/blood-pressures/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
