<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
    <ion-title>{{ "blood-pressure.title" | translate }}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="lists$ | async as lists">
    <ion-item color="secondary">
      <ion-label>{{ "date" | translate }}</ion-label>
      <ion-label>Max (mmHg)</ion-label>
      <ion-label>Min (mmHg)</ion-label>
      <ion-label>{{ "blood-pressure.hr" | translate }}</ion-label>
    </ion-item>
    <ng-container *ngIf="lists.length > 0; else noItems">
      <app-base-item
        *ngFor="let list of lists"
        [item]="list"
        [values]="3"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-base-item>
    </ng-container>
    <ng-template #noItems>
      <ion-item lines="none">{{ "no-list" | translate }}</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/bloodpressures/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
